[*.cs]

# S125: Sections of code should not be commented out
dotnet_diagnostic.S125.severity = suggestion

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = suggestion

# SA1648: inheritdoc should be used with inheriting class
dotnet_diagnostic.SA1648.severity = suggestion

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = suggestion
